* {
  box-sizing: border-box; /* bxbb  */
}
html {
  scroll-behavior: smooth; /* sb:smooth  */
}
body {
  background-image: linear-gradient(to bottom, #fff, #90c7e3); /* bim  */
  background-repeat: no-repeat;
  border: 1px solid #003; /* bd1-solid-#003  */
  box-shadow: 3px 3px 3px #333; /* bxsd */
  color: #555; /* c#555 */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* ffa */
}
#wrapper {
  margin: auto; /* m:a 8*  */
  max-width: 75rem;
  width: 80%; /* w80%  */
}
header {
  background-color: #003; /* bgc#002171 */
  background-image: url(images/sunset.jpg); /* bgi */
  background-position: right; /* bgdp */
  background-repeat: no-repeat; /* bgre */
  color: #fff; /* c#fff */
  height: auto; /* h60  */
  padding: 1rem;
  text-align: center; /* tac  */
}
header a {
  text-decoration: none; /* tdan  */
}
header a:link, a:visited {
  color: #fff; /* c#fff  */
}
header a:hover {
  color: #90c7e3; /* c#90c7e3 */
}
nav {
  font-size: 120%; /* fz120%  */
  font-weight: bold; /* fwb */
  padding: 0;
  text-align: center;
}
nav ul {
  list-style-type: none; /* lstn  */
  margin: 0; /* m0 */
  padding-left: 0; /* pl0 */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
}
nav li {
  border-bottom: 1px solid #003;
  padding: 0.5rem 0;
  max-width: 100%;
  box-sizing: border-box;
nav a {
  text-decoration: none; /* txd */
}
nav a:link {
  color: #5c7fa3; /* c#5c7fa3  */
}
nav a:visited {
  color: #344873; /* c#8344873 */
}
nav a:hover {
  color: #a52a2a; /* c#a52a2a */
}
main {
  background-color: #fff; /* BGC#FF */
  padding: 0.0625rem 1.25rem 1.25rem 1.875rem;
}
section {
  /* padding: 1rem 0;  */
}

h1 {
  letter-spacing: 0.25em; /* lts.25em  */
  margin-bottom: 0; /* mb0 */
  margin-top: 0; /* mt0  */
}
h1,
h2,
h3,
footer {
  font-family: Georgia, "Times New Roman", serif; /* fft  */
}
h2 {
  color: #1976d2; /* c#1976d2 */
  text-shadow: 1px 1px #ccc;
}
h3 {
  color: #003; /* c#003 */
}
address {
  font-style: normal;
}
footer {
  background-color: #fff; /* bgc#fff */
  font-size: 75%; /* fz75%  */
  text-align: center; /* txa  */
  font-style: italic; /* fsi */
  padding: 2em; /* p2em  */
  max-width: 100vw;
  overflow-wrap: break-word;
}
.resort {
  color: #1976d2; /* c#1976d2 */
  font-weight: bold; /* fwb  */
}
#homehero,
#yurthero,
#trailhero {
  background-repeat: no-repeat; /* bgr  */
  background-size: cover; /* bgc  */
  height: 18.75rem; /* h10.85rem  */
}
#homehero {
  background-image: url(images/coast2.jpg);
}
#yurthero {
  background-image: url(images/yurt.jpg);
}
#trailhero {
  background-image: url(images/trail.jpg);
}
.card-row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100vw;
  box-sizing: border-box;
  overflow: auto;
}
.card-row section {
  max-width: 100%;
  box-sizing: border-box;
  overflow-wrap: break-word;

}
@media (max-width: 32.5rem) {
  body {
    background-image: none;
    border: none;
    box-shadow: none;
    margin: 0;
  }
  #wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  header {
    background-image: none;
   padding: 0;
  }
  footer {
    padding: 1em;
  }
}